{% extends 'loglan/header_footer.html' %}

{% load lock %}

{% load course %}

{% block content %}

<script type="text/javascript">

function outf(text) {
  var mypre = document.getElementById("output");
  mypre.innerHTML = mypre.innerHTML + text;
}

function builtinRead(x) {
  if (Sk.builtinFiles === undefined || Sk.builtinFiles["files"][x] === undefined)
  throw "File not found: '" + x + "'";
  return Sk.builtinFiles["files"][x];
}

function runit() {
  var prog = document.getElementById("yourcode").value;
  var mypre = document.getElementById("output");
  mypre.innerHTML = '';
  Sk.pre = "output";
  Sk.configure({output:outf, read:builtinRead});
  var myPromise = Sk.misceval.asyncToPromise(function() {
    return Sk.importMainWithBody("<stdin>", false, prog, true);
  });
  myPromise.then(function(mod) {
    cek_jawaban();
    console.log('success compile');
  },
  function(err) {
    console.log(err.toString());
  });
}

function cek_jawaban() {
  console.log("Sedang memeriksa kode program Anda.")
  var jawaban = $('#output').text();
  var console_user = $('#yourcode').val();
    $.ajax({
      url : "{% url 'loglan:cek_jawaban'%}",
      type : "POST",
      data : { jawaban : jawaban, user_id: {{request.user.id}}, course_part_id: {{course_part.id}}, console_user : console_user, csrfmiddlewaretoken: '{{ csrf_token }}' },
      success : function(json) {
        console.log(json);
        $('#hasil-jawaban').text(json.hasil_jawaban);
        console.log(json);
        console.log("success cek jawaban");
        if (json.hasil_jawaban=="Kode program Anda benar"){
            $('#button-next').replaceWith('<a id="button-next" href="{% url 'loglan:course_part_detail' course_slug=course_part.course.course_slug number_part_course=course_part.next_part.number%}" class="{% part_lock request.user course_part %}"><button type="button" class="btn btn-default" id="yoga-button-belajar">Selanjutnya</button></a>');
        }
      },
      error : function(xhr,errmsg,err) {
        $('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+" <a href='#' class='close'>&times;</a></div>");
        console.log(xhr.status + ": " + xhr.responseText);
      }
    });
  }

</script>



<div class="container-fluid yoga-minimal-tinggi-halaman">

  <div class="row yoga-background-biru-tua" id="yoga-row-pertama-course" >
    <div class="col-md-6" id="yoga-jarak-menu-course">
      <div class="col-md-4">
        <a href="{% url 'loglan:course_part_detail' course_slug=course_part.course.course_slug number_part_course=course_part.number %}" class="btn btn-default" id="yoga-button-belajar"> Belajar</a>
      </div>
      <div class="col-md-4">
        <a href="{% url 'loglan:course_part_list' course_slug=course_part.course.course_slug %}" class="btn btn-default" id="yoga-button-belajar"> Daftar Materi</a>
      </div>
      <div class="col-md-2"></div>
      <div class="col-md-2"></div>
    </div>
    <div class="col-md-6 text-right yoga-poin-course-detail">
      <div class="col-md-6"></div>
      <div class="col-md-6">
        <div class="col-md-6 text-center" id="yoga-jumlah-poin-course-user">
          <h4 style="font-size:24px;"> {% user_course_point_per_level request.user course_part.course.id %} poin</h4>
        </div>
        <div class="col-md-6">
          <h4 style="font-size:24px;">+ {{course_part.course_point}} poin</h4>
        </div>
      </div>
    </div>
  </div>

  <div class="row yoga-background-biru-tua">
    <div class="col-md-12">
      <div class="progress" id="yoga-progres-course-detail">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:{% user_course_progress_per_level request.user course_part.course.id %}%">
          {% user_course_progress_per_level request.user course_part.course.id %} %
        </div>
      </div>
    </div>
  </div>

  <div class="row" id="yoga-background-course">
    <div class="col-md-6">
      <div class="yoga-tempat-materi">
        <h3><strong>{{ course_part.course_part_name|safe }}</strong></h3>
        {{ course_part.course_content|safe }}
        {{ course_part.course_example|safe }}
      </div>
    </div>
    <div class="col-md-6">
      <div id="yoga-panel-teks-editor">
        <textarea cols="90" rows="12" id="yourcode"></textarea>
        <button type="button" onclick="runit()" class="btn btn-default" id="yoga-button-jalankan">Jalankan</button>
      </div>
      <div class="yoga-output-program" id="output"></div>
      <div class="yoga-notifikasi-hasil-program text-center">
        <p id="hasil-jawaban"></p>
      </div>
    </div>
  </div>

  <div class="row" id="yoga-panel-button-belajar">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="yoga-margin-panel-button-selanjutnya-sebelumnya">
      <div class="row">
        <div class="col-md-6">
          <div class="text-left">
            {% if course_part.previous_part %}
              <a href="{% url 'loglan:course_part_detail' course_slug=course_part.course.course_slug number_part_course=course_part.previous_part.number%}">
                <button type="button" class="btn btn-default" id="yoga-button-belajar">Sebelumnya</button>
              </a>
            {% endif %}
          </div>
        </div>
        <div class="col-md-6">
          <div class="text-right">
            {% if course_part.next_part %}
              <a id="button-next" href="{% url 'loglan:course_part_detail' course_slug=course_part.course.course_slug number_part_course=course_part.next_part.number%}" class="{% part_lock request.user course_part %}">
                <button type="button" class="btn btn-default" id="yoga-button-belajar">Selanjutnya</button>
              </a>
            {% else%}
              <a href="{% url 'loglan:course_part_result' course_slug=course_part.course.course_slug %}">
                <button type="button" class="btn btn-default" id="yoga-button-belajar">Lihat hasil belajar</button>
              </a>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>

<div id="js-hasil-jawaban">
  <script>
    $('.locked').click(function( event ) {
      event.preventDefault();
      alert('Silahkan mengerjakan part ini terlebih dahulu sampai benar.');
    });
  </script>
</div>

{% endblock %}
