{% extends 'loglan/header_footer.html' %}

{% load staticfiles %}

{% block content %}
<script>
  {% if user.is_authenticated %}
    window.location = "{% url 'loglan:user_main_page' %}";
  {% endif %}
</script>

<div class="container-fluid yoga-minimal-tinggi-halaman">
  <div class="row" style="margin-top:-20px;">
    <div id="yoga-panel-selamat-datang-biru-tua">
      <div class="col-md-6">
        <div class="col-md-4">
          <img id="yoga-logo-selamat-datang" src="{% static 'image/Logo1.png'%}" width="256"/>
        </div>
        <div class="col-md-8 text-left" id="yoga-col-selamat-datang">
          <h1 id="yoga-teks-selamat-datang">Selamat Datang</h1>
          <h1 id="yoga-teks-loglan">{ Log-Lan }</h1>
        </div>
      </div>
      <div class="col-md-6">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <p id="yoga-teks-penjelasan-loglan" class="text-center">Log-Lan (Logarithm-Language) adalah sebuah e-learning bahasa pemrograman python berbasis Gamification, menyediakan fitur level belajar, materi pemrograman interaktif, kuis pilihan ganda, tantangan <i>un-lock</i> materi dan kuis, poin user untuk meningkatkan rangking.</p>
          <div class="text-center">
            <a href="{% url 'loglan:login' %}"
              <button class="btn btn-default" id="yoga-button-akun">Mulai Belajar</button>
            </a>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="yoga-panel-selamat-datang-abu-abu">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <p>Materi diberikan dalam bentuk teks tertulis, contoh program, dan user diwajibkan untuk menyelesaikan tantangan <i>coding program</i> di setiap
          materi yang diberikan, tantangan tersebut dapat diselesaikan pada <i>text editor</i> yang telah disediakan.</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="yoga-panel-selamat-datang-abu-abu">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <p>Kuis</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="yoga-panel-selamat-datang-abu-abu">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <p>Lock-Unlock</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="yoga-panel-selamat-datang-abu-abu">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <p>Poin</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="yoga-panel-selamat-datang-abu-abu">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <p>Rangking</p>
      </div>
    </div>
  </div>

  <div class="row">
    <div id="yoga-panel-selamat-datang-abu-abu">
      <div class="col-md-4">
      </div>
      <div class="col-md-8">
        <p>Progres</p>
      </div>
    </div>
  </div>

</div>
{% endblock %}
