{% extends 'loglan/header_footer.html' %}

{% block content %}
<div class="container-fluid yoga-background-kuis">

  <div class="row">
    <div class="col-md-12 yoga-panel-soal-kuis text-center">
      <p class="text-center" style="font-size:20px; ">{{ quiz_part.quiz_content}}</p>
    </div>
  </div>

  <form  method="POST">{% csrf_token %}

  <div class="row yoga-panel-pilihan-kuis">
    <div class="row yoga-pilihan-ganda">

      <div class="col-md-2"></div>

      <div class="col-md-8">
        {% for answer in quiz_part.quiz_part_answers.all %}
        <div id="yoga-pilihan">
          <label type="button" class="btn btn-default yoga-button-pilihan-ganda" id="yoga-pilihan-ganda">
            <input id="yoga-radio-pilihan-ganda" type="radio" name="ChoiceAnswer" value="{{answer.id}}">
              {{answer.text_answer}}
            </input>
          </label>
        </div>
        {% endfor %}
      </div>

      <div class="col-md-2"></div>

    </div>
  </div>

  <div class="row" id="yoga-panel-button-belajar">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="yoga-margin-panel-button-selanjutnya-sebelumnya">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="text-center">
            <!-- {% if quiz_part.next_quiz %}
            <a href="{% url 'loglan:quiz_part_detail' course_slug=quiz_part.course_part.course.course_slug number_part_quiz=quiz_part.next_quiz.number %}">
              Kuis Selanjutnya
            </a>
            {% endif %} -->
            <button type="submit" class="btn btn-default" id="yoga-button-belajar">
              Pilih Jawaban
            </button>
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

  </form>

</div>

<script>

jQuery.fn.shuffle = function () {
    var j;
    for (var i = 0; i < this.length; i++) {
        j = Math.floor(Math.random() * this.length);
        $(this[i]).before($(this[j]));
    }
    return this;
};
$('.yoga-button-pilihan-ganda').shuffle();

$(".yoga-button-pilihan-ganda").on("on-click", function() {
  $('.yoga-button-pilihan-ganda').removeClass('yoga-button-pilihan-ganda');
  $(this).find("label").addClass('yoga-button-pilihan-ganda');
});

$('.yoga-button-pilihan-ganda').click(function(){
	$('#yoga-pilihan > .yoga-button-pilihan-ganda-baru').each(function(){
  	$(this).removeClass('yoga-button-pilihan-ganda-baru').addClass('yoga-button-pilihan-ganda');
  });
	$(this).toggleClass('yoga-button-pilihan-ganda-baru');
});

</script>
{% endblock %}
