{% extends 'loglan/header_footer.html' %}

{% block content %}
<div class="container-fluid yoga-background-kuis">

  <div class="row">
    <div class="col-md-12 yoga-panel-soal-kuis text-center">
      <p class="text-center" style="font-size:32px; ">{{ quiz_part.quiz_content}}</p>
    </div>
  </div>
<form  method="POST">
  {% csrf_token %}
  <div class="row yoga-panel-pilihan-kuis">
    <div class="row yoga-pilihan-ganda">

      {% for answer in quiz_part.quiz_part_answers.all %}
        <div class="col-md-6 yoga-button-pilihan-ganda">
          <input type="radio" name="piljan" value="{{answer.id}}"></input>
          <button type="button" class="btn btn-default ">{{answer.text_answer}}</button>
        </div>
      {% endfor %}

    </div>
    <input type="submit" value="Submit jawaban"></input>
</form>

  </div>

  <div class="row" id="yoga-panel-button-belajar">
    <div class="col-md-4"></div>
    <div class="col-md-4" id="yoga-margin-panel-button-selanjutnya-sebelumnya">
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="text-center">
            <!-- {% if course_part.next_part %} -->
            <!-- <a id="button-next" href="#">
              <button type="button" class="btn btn-default" id="yoga-button-belajar">Selanjutnya</button>
            </a> -->
            <!-- {% else%} -->

            {% if quiz_part.next_quiz %}
            <a href="{% url 'loglan:quiz_part_detail' course_slug=quiz_part.course_part.course.course_slug number_part_quiz=quiz_part.next_quiz.number %}">
              <button type="button" class="btn btn-default" id="yoga-button-belajar">Kuis Selanjutnya</button>
            </a>
            {% endif %}
            <!-- {% endif %} -->
          </div>
        </div>
        <div class="col-md-3"></div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>

</div>

<script>
/*
* Shuffle jQuery array of elements - see Fisher-Yates algorithm
*/
jQuery.fn.shuffle = function () {
    var j;
    for (var i = 0; i < this.length; i++) {
        j = Math.floor(Math.random() * this.length);
        $(this[i]).before($(this[j]));
    }
    return this;
};
$('.yoga-button-pilihan-ganda').shuffle();


</script>
{% endblock %}
