{% extends 'loglan/header_footer.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row" id="yoga-row-pertama-course" >
    <div class="text-center">
      <h4>+10 point</h4>
    </div>
  </div>

  <div class="row" id="yoga-row-kedua-course">
    <div class="col-md-12" id="">
      <div class="progress"> <!-- Bootstrap Progress Bar -->
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width:50%">
          50% Complete
        </div>
      </div>
    </div>
  </div>

  <div class="row">

    <div class="col-md-6 text-left">
      <textarea cols="90" rows="33">{{quiz_part.quiz_challenge}}</textarea>
    </div>

    <div class="col-md-6">
      <div class="text-right">
        <textarea cols="90" rows="15" id="yourcode"></textarea>
        <button type="button" onclick="runit()" class="btn btn-primary" id="yoga-button-course">Jalankan</button>
        <textarea cols="90" rows="10" id="output"></textarea>
        <div id="yoga-notifikasi-hasil-program" class="text-left">
          <span>Program Anda sudah benar, silahkan menuju materi selanjutnya</span>
        </div>
        <div class="row" id="yoga-button-course">
          <div class="col-md-6">
            <div class="text-left">
              <a href="#">
                <button type="button" class="btn btn-primary" id="yoga-margin-button-sebelumnya">Sebelumnya</button>
              </a>
            </div>
          </div>

          <div class="col-md-6">
            <div class="text-right">
              <a href="#">
                <button type="button" class="btn btn-primary">Selanjutnya</button>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>
{% endblock %}
