{% extends 'loglan/header_footer.html' %}

{% load staticfiles %}

{% block content %}

<script>
  {% if not user.is_authenticated %}
    window.location = "{% url 'loglan:login' %}";
  {% endif %}
</script>

<div class="container-fluid yoga-background-rangking">
  <div class="col-md-2"></div>

  <div class="col-md-8">
    <div class="text-center">
      <div class="row" id="yoga-row-pertama-peringkat">
        <h2 id="yoga-judul-peringkat">Peringkat User</h2>
      </div>

      <div class="row" id="yoga-tabel-peringkat">
        <div class="row">
          <div class="col-md-2">
            Peringkat
          </div>
          <div class="col-md-6">
            Username
          </div>
          <div class-"col-md-4">
            Jumlah Poin
          </div>
        </div>
        <div class="row">
          <hr id="yoga-border-peringkat"></hr>
        </div>
      </div>
      
      <div class="row">
        {% for user_profile in user_rankings %}
        <div class="row">
          <div class="col-md-2">
            {{ user_profile.user_ranking }}
          </div>
          <div class="col-md-6">
            {{user_profile.user.username}}
          </div>
          <div class-"col-md-4">
            <h6>{{ user_profile.user_point_total }} poin</h6>
          </div>
        </div>
        <div class="row">
          <hr id="yoga-border-peringkat"></hr>
        </div>
        {% endfor %}
      </div>
    </div>

  </div>

  <div class="col-md-2"></div>
</div>
{% endblock %}
