{% extends 'loglan/header_footer.html' %}

{% block content %}
<script>
  {% if user.is_authenticated %}
    window.location = "{% url 'loglan:user_main_page' %}";
  {% endif %}
</script>
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4 col-sm-4 col-xs-12">
      <div class="panel panel-default yoga-panel">
        <div class="panel-body">
          <form method="POST" action=""> {% csrf_token %}
            <div class="form-group text-center">
              <h3 class=yoga-panel-title>Log-Lan</h3>
            </div>
            {{form.as_p}}
            <div class="form-group text-center">
              <button type="submit" class="btn btn-default yoga-button-transparent" value="Register">Sign Up</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
