{% extends 'loglan/header_footer.html' %}

{% block content %}
<script>
  {% if user.is_authenticated %}
    window.location = "{% url 'loglan:user_main_page' %}";
  {% endif %}
</script>
<div class="container-fluid" style="padding-top:25px; padding-bottom: 25px;">
  <div class="row">

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div style="margin-top:50px;">
        <div class="text-center">
          <h4 class="yoga-keterangan-masuk">Daftar akun Log-Lan</h4>
        </div>
        <div class="panel panel-default yoga-panel">
          <div class="panel-body">
            <form method="POST" action=""> {% csrf_token %}
              <!-- {% for field in form %}
              <div class="fieldWrapper">
                {{ field.errors }}
              </div>
              {% endfor %} -->

              {% for field in form %}
              <div style="padding-top: 20px;  color:white;">
                {{ field.label_tag|escape }}{{ field.errors|escape }}
                {{ field }}
              </div>
              {% endfor %}

              <div class="form-group text-center">
                <button type="submit" class="btn btn-default" id="yoga-button-akun">Daftar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
      <div class="text-center">
        <a href="{% url 'loglan:login' %}" class="yoga-keterangan-daftar-masuk">
          <h4>Sudah daftar ?</h4>
        </a>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>

  </div>
</div>
{% endblock %}
