{% extends 'loglan/header_footer.html' %}

{% block content %}
<script>
  {% if user.is_authenticated %}
    window.location = "{% url 'loglan:user_main_page' %}";
  {% endif %}
</script>

<div class="container yoga-background-akun">

  <div class="col-md-4"></div>

  <div class="col-md-4 col-sm-4 col-xs-12">
    <div style="margin-top:200px;">
      <div class="row">
        <div class="text-center">
          <h4 class="yoga-keterangan-masuk">Masuk untuk mulai belajar</h4>
        </div>
        <div class="panel panel-default yoga-panel">
          <div class="panel-body">
            <form action="" method="POST">{% csrf_token %}
              <div>
                {% for field in form %}
                <div style="margin-top: 10px; color:white;">
                  {{ field.label_tag|escape }}
                  {{ field }}
                </div>
                {% endfor %}
              </div>
              <div class="text-center">
                <button type="submit" name="login" class="btn btn-default" id="yoga-button-akun">Masuk</button>
              </div>
            </form>
          </div>
        </div>
        <div class="text-center">
          <div class="col-md-6">
            <a href="{% url 'loglan:signup' %}" class="yoga-keterangan-daftar-masuk">
              <h4>Belum daftar ?</h4>
            </a>
          </div>
          <div class="col-md-6">
            <a href="{% url 'loglan:password_reset' %}" class="yoga-keterangan-daftar-masuk">
              <h4>Lupa password ?</h4>
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        {% for error in form.non_field_errors %}
        <h4 style="color:#CF000F;">{{ error|escape }}</h4>
        {% endfor %}
      </div>
    </div>
  </div>

  <div class="col-md-4"></div>

</div>
{% endblock %}
