{% extends 'loglan/header_footer.html' %}

{% block content %}
<div class="container-fluid" style="padding-top:25px; padding-bottom: 25px;">
  <div class="row">
    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12">
      <div style="margin-top:50px;">
        <div class="text-center">
          <h4 class="yoga-keterangan-masuk">Ubah Kata Sandi</h4>
        </div>
        <div class="panel panel-default yoga-panel">
          <div class="panel-body">
            {% if validlink %}
              <form method="POST">
                <div class="form-group">
                  {% for field in form %}{% csrf_token %}
                  <div class="text-left" style="margin-top: 20px; color:white;">
                    {{ field.label_tag|escape }}
                    {{ field }}
                  </div>
                  {% endfor %}
                </div>
                <div class="text-center">
                  <button type="submit" class="btn btn-default" id="yoga-button-akun">Ubah</button>
                </div>
              </form>
            {% else %}
              <p style="color:white;"> Link atur ulang kata sandi tidak benar, mungkin karena sudah digunakan.
                Silakan minta atur ulang kata sandi baru.</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

    <div class="col-lg-4 col-md-12 col-sm-12 col-xs-12"></div>
  </div>
</div>

{% endblock %}
