body{
  background-color: white;
}

.yoga-background-biru-tua{
  background-color: #152B39;
  height: 50px;
}

.yoga-minimal-tinggi-halaman{
  min-height: 763px;
}

p a{
  color: #008080;
}

.yoga-a-gambar{
  color: white;
}

.yoga-text-white{
  color:white;
}

#yoga-menu-navbar-kanan{
  color: white;
  font-size: 16px;
  padding-right: 20px;
}

#yoga-menu-navbar-kanan:hover,
#yoga-menu-navbar-kanan:focus,
#yoga-menu-navbar-kanan:active{
  text-decoration: none;
  color: #23527C;
}

#yoga-menu-course:first-child{
  margin-right: 10px;
}

#yoga-userpoint{
  color: yellow;
  font-size: 14px;
  text-decoration: none;
}

.yoga-panel-title{
  color: white;
  margin-top: 10px;
  font-weight: 600;
}


#yoga-logo{
  position: relative;
  top: -5px;
}

#yoga-logo-selamat-datang{
  margin-top: 40px;
}

#yoga-col-selamat-datang{
  margin-top: 101px;
}

#yoga-teks-selamat-datang{
  font-size: 67px;
  margin-left: 8px;
  color: white;
}

#yoga-teks-loglan{
  font-size: 67px;
  margin-left: 8px;
  color: #008080;
}

#yoga-teks-penjelasan-loglan{
  color: #E9EAEA;
  font-size: 23px;
  margin-top: 40px;
  margin-left: 250px;
  margin-right: 20px;
}

#yoga-navbar-atas{
  background-color: #008080;
  border-radius: 0;
}

.yoga-button-transparent{
  background-color: transparent;
  border-color: white;
  color: white;
  margin-top: 8px;
  border-radius: 0;
}

.yoga-button-transparent-hijau{
  background-color: transparent;
  border-color: #008080;
  color: #008080;
  margin-top: 8px;
  border-radius: 0;
}

#yoga-button-jalankan{
  background-color: #008080;
  border-color: #008080;
  border-radius: 0;
  color: white;
  font-size: 20px;
  margin: 17px 0;
}

#yoga-button-jalankan:hover,
#yoga-button-jalankan:focus,
#yoga-button-jalankan:active{
  background-color: #E91010;
  border-color: #E91010;
}

#yoga-button-belajar{
  background-color: #008080;
  border-color: #008080;
  border-radius: 0;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100%;
}

#yoga-button-belajar:hover,
#yoga-button-belajar:focus,
#yoga-button-belajar:active{
  background-color: #46C9B6;
  border-color: #46C9B6;
}

.yoga-button-pilihan-ganda{
  background-color: #46C9B6;
  border-color: #46C9B6;
  border-radius: 0;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

.yoga-button-pilihan-ganda:hover,
.yoga-button-pilihan-ganda:active,
.yoga-button-pilihan-ganda:focus{
  background-color: #27666E;
  border-color: #27666E;
  color: white;
}

.yoga-button-pilihan-ganda-baru{
  background-color: #27666E;
  border-color: #27666E;
  border-radius: 0;
  color: white;
  font-size: 20px;
  width: 100%;
  height: 100px;
  margin-bottom: 10px;
}

#yoga-title{
  position: absolute;
  top: 14px;
  color: white;
  font-size: 24px;
  font-weight: 600;
  left: 53px;
}

.footer{
  position: relative;
  bottom: 0;
  width: 100%;
  height: 120px;
  background-color: #008080;
}

.yoga-footer-konten{
  color: white;
  margin-top: 17px;
}

#yoga-panel-tentang-daftar-biru-tua{
  background-color: #354551;
  width: 100%;
  height: 420px;
  margin-top: 150px;
}

#yoga-panel-selamat-datang-biru-tua{
  background-color: #354551;
  width: 100%;
  height: 420px;
  margin-top: 50px;
}

#yoga-panel-selamat-datang-abu-abu{
  background-color: #435560;
  width: 100%;
  height: 220px;
  margin-top: 0px;
}

#yoga-margin-panel-pilih-level{
  margin: 100px 0;
}
#yoga-caraousel{
  margin-top: 100px;
}

.yoga-panel-python-halaman-user{
  background-color: #435560;
  border-radius: 0;
  margin: 40px 0;
}

.yoga-panel-level-python{
  background-color: #435560;
  border-radius: 0;
}

.yoga-panel-profil-halaman-user{
  margin: 40px 0;
}

.yoga-panel{
  background-color: #435560;
  border-radius: 0;
  margin-top: 100px;
}

.yoga-panel-mulai-belajar-abu-abu{
  background-color: #E9EAEA;
  height: 128px;
}

.yoga-panel-level-python-abu-abu{
  background-color: #E9EAEA;
  height: 128px;
  font-size: 18px;
  padding: 10px;
  color: #435560;;
}

#yoga-panel-penjelasan-putih{
  background-color: #F0F2F3;
  color: #435560;
  padding: 15px;
}

.yoga-panel-biru-progres-bar-halaman-user{
  background-color: #435560;
  height: 250px;
  padding: 0 20px;
}

.yoga-panel-biru-profil-halaman-user{
  background-color: #435560;
  color: #46C9B6;
  font-size: 24px;
  height: 70px;
}

.yoga-isi-profil-halaman-user{
  margin: 10px 0;
}

.yoga-judul-profil-halaman-user{
  margin: 5px 0;
}

.yoga-panel-toska-profil-halaman-user{
  background-color: #46C9B6;
  color: #435560;
  font-size: 24px;
  height: 50px;
}
.yoga-panel-toska-progres-bar-halaman-user{
  background-color: #46C9B6;
  height: 50px;
  padding: 0 20px;
  margin: 20px 10px;
}

.yoga-progres-bar-halaman-user{
  margin: 15px 0;
}

.yoga-judul-level-progres-bar{
  color: white;
  font-size: 25px;
  margin: 10px 0;
}

.yoga-isi-progres{
  color: white;
  font-size: 20px;
  margin: 10px 0;
}

.yoga-panel form input{
  border-radius: 0;
}

#yoga-lupa-kata-sandi{
  color: white;
}

#yoga-row-pertama-course{
  margin-top: -20px;
}

#yoga-progres-course-detail{
  margin-top: 20px;
}

#yoga-jarak-menu-course{
  padding-top: 10px;
  margin-left: -16px;
  margin-top: 14px;
}

#yoga-margin-button-sebelumnya{
  margin-left: 25px;
}

.yoga-notifikasi-hasil-program{
  margin-top: 22px;
  background-color: #152B39;
  height: 50px;
  color: white;
  font-size: 23px;
}

.yoga-output-program{
  background-color: #17171A;
  height: 150px;
  color: white;
  font-size: 15px;
  padding: 13px;
  overflow-y:scroll;
}

#yoga-row-pertama-peringkat{
  margin-top: 30px;
}

#yoga-judul-peringkat{
  margin-top: -5px;
}

#yoga-border-peringkat{
  border-color: rgb(34, 167, 240);
}

#yoga-tabel-peringkat{
  margin-top: 40px;
}

#yoga-border-bantuan{
  border-color: #46C9B6;
}

#yoga-padding-tentang-daftar{
  padding: 150px;
  color: #EBEBEB;
}

.yoga-penjelasan-python{
  color: #435560;
}

.yoga-tempat-materi{
  overflow-y:scroll;
  height: 583px;
  background-color: white;
  padding: 10px 10px;
}

#yoga-panel-button-belajar{
  background-color: #354551;
  height: 70px;
}

#yoga-margin-panel-button-selanjutnya-sebelumnya{
  margin: 13px 0;
}

#yoga-panel-teks-editor{
  height: 340px;
  background-color: #354551;
  padding: 12px 12px;
}

.yoga-no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

#yoga-background-course{
  background-color: #152B39;
  padding-top: 30px;
}

.yoga-poin-course-detail{
  color: #46C9B6;
  margin-top: 20px;
}

.yoga-panel-soal-kuis{
  height: 200px;
  color:white;
  padding:40px;

}

.yoga-panel-pilihan-kuis{
  height: 513px;
  padding:20px;
  margin-top: -40px;
  margin-bottom: 10px;
}

.yoga-pilihan-ganda{
  height: 250px;
  padding: 20px;
}

.yoga-background-kuis{
  background-color: #354551;
  min-height: 783px;
  margin-top: -20px;
}

.yoga-background-bantuan{
  background-color: #354551;
  width: 100%;
  min-height: 783px;
  margin-top: -20px;
  color: white;
}

.yoga-background-rangking{
  background-color: #354551;
  width: 100%;
  min-height: 783px;
  margin-top: -20px;
  color: white;
}

.yoga-radio-pilihan{
  visibility:hidden;
}

#yoga-row-radio-pilihan-ganda{
  margin: 30px 0;
}

#yoga-jumlah-poin-course-user{
  height: 100%;
  background-color: #74ECFC;
  border-color: #74ECFC;
  color: #152B39;
  margin-right: -55px;
  margin-left: 55px;
  border-radius: 1%;
}
/*================================================================= carousel ====================================================================*/

/*.carousel-control.left
{
  background: none;
}
.carousel-control.right
{
  background: none;
}

.carousel-control
{
  position: absolute;
  top: 45%;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: auto;
  color: #fff;
  text-align: center;
  opacity: 1;
  text-shadow: none;
}
.carousel-control:hover
{
  color: #000;
}
.carousel-indicators
{
  bottom: -50px;
}
.carousel-indicators li
{
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000\9;
  background-color: rgba(0,0,0,0);
  border: 1px solid #16a085;
  border-radius: 50%;
}
.carousel-indicators .active
{
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #16a085;
}
.carousel-caption
{
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  background: rgba(0,0,0,0.4);
}*/
